<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5364391130-1r53klcpb6968eh8rgoa48jltfifkhvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5364391130-1r53klcpb6968eh8rgoa48jltfifkhvi</string>
	<key>API_KEY</key>
	<string>AIzaSyDQsM1r2e-TkOMFSOGgfivrHJYDAx8hEeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>5364391130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matopibatech.racharacha</string>
	<key>PROJECT_ID</key>
	<string>busca-endereco-cep</string>
	<key>STORAGE_BUCKET</key>
	<string>busca-endereco-cep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5364391130:ios:3c805223f7b66abf5a99e3</string>
</dict>
</plist>